@import 'theme.less';

.text-primary{ color: @primaryColor;}
.text-gray{ color: @gray;}
.text-blue{ color: @blue;}
.text-red{ color: @red;}
.text-white{color: @white;}
.text-666{ color: #666;}

.bg-red{background: @red;}

.pad-normal{ padding: 15px 16px;}
.pad-l-16{ padding-left: 16px;}
.pad-dialog{ padding: 34px 24px;}

.mar-r-6{ margin-right: 6px;}
.mar-t-6{ margin-top: 6px;}

.border-b{ border-bottom: 7px solid @bgGray; }

footer.fixed{ height:47px; position: fixed; bottom: 0; left: 0; width: 100%;}

// 覆盖vant样式
.van-button--primary{ background: @primaryColor; border-color: @primaryColor; }
